[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
youtube-dl = "*"
ffmpeg = "*"
speechrecognition = "*"
python-dotenv = "*"
wit = "*"
google-api-python-client = "*"
google-cloud-storage = "*"
google-cloud-speech = "*"

[requires]
python_version = "3.6"
